@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-gray: #f0f0f0;
	--color-sidebar-dark: #0f1535;
	--color-sidebar-light: #1a1f3a;
	--font-display: "Poppins", sans-serif;
	--color-card: #111C44;
	--color-add: #635bff;
	--color-hovered-add: #3725ae;
	--color-gray-table: #667085;
	--color-profile: #11047A;
}


.active{
	color:  white;
}

:root {
  --background-color: #ffffff;
  --text-color: #333333;
}

[data-theme='dark'] {
  --background-color: #0B1437;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}