@import 'tailwindcss';

@theme {
	--color-gray: #f0f0f0;
	--color-sidebar-dark: #0f1535;
	--color-sidebar-light: #1a1f3a;
	--font-display: "Poppins", sans-serif;
	--color-card: #111C44;
	--color-add: #635bff;
	--color-hovered-add: #3725ae;
	--color-gray-table: #667085;
}

.active{
	color:  white;
}